body{
    background-color:#E5E5E5 ;
}
header{
    width: 870px;
   
}
nav{
    background-color:#562EFF ;
    height: 50px;
   display:flex;
   flex-direction: column;
   
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-inline{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 25px;
}
nav a{
    text-decoration: none;
    color:#FFFFFF ;
}
/* section start */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    height: 679px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    
    
}
.sec-head-color1{
    color: #562EFF;
    font-size: 24px;
    margin-left: 18px;
}

.sec-head-color2{
    color: #562EFF;
    font-size: 24px;
margin-bottom: 31px;
margin-left: 18px
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    margin: 40px 0 0 15px;

}
.player{
    display: flex;
}
.player .play{
    width: 56px;
    height: 56px;
    margin-right:16px ;
}
hr{
    border: 1px solid #D1D1D1; 
    margin-bottom: 30px; 
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
    margin-left: 15px;
}
.blog{
    display: flex;
    
}
.thumb img{
width: 177px;
height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info a{
    text-decoration: none;
}
.blog-info .author-info{
    color: #9F9F9F;
    ;
}
.author{
    color: #562EFF;
    font-size: 16px  
}
.container-height{
    height: 380px;
}
.courses{
    display: grid;;
   grid-template-columns: repeat(3,1fr);
   column-gap:23.61px ;
   margin-left: 15px;
}
.course{
    margin-bottom: 22.21px;
}

.blog-flex-awesome{
display: flex;
justify-content:flex-start;
align-items: center;


}
.blog-flex-awesome >.far-away{
    margin-right:10px;
   
}
.fa-star.filled{
color: gold;
margin-right: 10px;
}
#back-color{
    color: #FF4A60;
   padding: 10px ;
   background-color:  #FFE4E8;
   border-radius: 15px;
}
.course-guide{
    color: red;
}